@import url(./start.css);
@import url(./option.css);

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "Press Start 2P";
    src: url(../font/PressStart2P-Regular.ttf) format("truetype");;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*============ Font ============*/
    --font: "Press Start 2P";

    
    /*===============================
    ........ Paleta de Cores ........ 
    ===============================*/
    

    /*======== Cor do texto ========*/
    --txt1: #FFFFFF;
    
    /*===== Contornos e Bordas =====*/
    --contorno: #000000;
    --sombracontorno1: #ca0101;
    --sombracontorno2: #acacac;

    /*====== Fundo dos Botões ======*/
    --fundo1: #FFC400;
    --fundo2: #FF0000;
    --fundo3: #FFFFFF;

    /*=========== Cenário ==========*/
    --ceu: linear-gradient(180deg,rgba(0, 191, 255, 1) 20%, rgba(255, 255, 255, 1) 68%);
}

/*==================================================================== 
........................ ESTILIZAÇÃO UNIVERSAL .......................
====================================================================*/

body {
    overflow: hidden;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    font-family: var(--font);
    -webkit-user-select: none;
}
